<h1>Log a part</h1>

<form action="/parts" method="POST">
<select name="part_name" id="part_name">
  <option value="Trucks" name="part_name" id="part_name">Trucks</option>
  <option value="Bearings" name="part_name" id="part_name">Bearings</option>
  <option value="Wheels" name="part_name" id="part_name">Wheels</option>
  <option value="Board" name="part_name" id="part_name">Board</option>
  <option value="Griptape" name="part_name" id="part_name">Griptape</option>
</select>
<input type="text" name="brand_name" id="brand_name"/>
<input type="submit"/>
</form>