<h1>Sign up for your Skate Parts Tracker account</h1>

<form action="/signup" method="POST">
Username: <input type="text" name="username" id="username"/>
<br></br>
Password: <input type="text" name="password" id="password"/>
<br></br>

<input type="submit"/>
</form>